[submodule "secrets"]
	path = secrets
	url = https://github.com/acmilanfan/secrets
[submodule "dotfiles/awesome/awesome-wm-widgets"]
	path = dotfiles/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
