* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 12px;
}

window#waybar {
  background: rgba(30, 30, 40, 0.95);
  color: #ddd;
}

#workspaces button.active {
  background: #7b5cff;
  color: white;
}

#clock,
#battery,
#pulseaudio {
  padding: 0 8px;
}
