set number relativenumber
set idearefactormode=keep
set ideajoin
set surround
set easymotion
set surround
set multiple-cursors
set highlightedyank
set commentary
set argtextobj
set textobj-entire
set vim-paragraph-motion
set textobj-indent
set exchange
set visualbell

let mapleader = " "

" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch
set ignorecase

" Don't use Ex mode, use Q for formatting.
map Q gq

sethandler <C-h> n:ide
sethandler <C-v> i:ide
sethandler <C-e> n:ide
sethandler <C-E> n:ide
sethandler <C-h> n:ide
sethandler <C-j> n:ide
sethandler <C-k> n:ide
sethandler <C-k> i:ide
sethandler <C-l> n:ide

set NERDTree
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'

" clipboard
nnoremap yy "+yy
vnoremap y "+y
nnoremap p "+p
vnoremap p "+p
nnoremap P "+P
vnoremap P "+P
nnoremap dd "+dd
vnoremap d "+d

" scrolling
nmap <leader>d <C-d>
nmap <leader>u <C-u>
vmap <leader>d <C-d>
vmap <leader>u <C-u>

" actions
nmap <leader>k <action>(PreviousTab)
nmap <leader>j <action>(NextTab)
nmap <leader>i <action>(Generate)
nmap <leader>m <action>(Git.Menu)
nmap <leader>/ <action>(ShowErrorDescription)
nmap <leader>e <action>(GotoNextError)
nmap g] <action>(GotoImplementation)
nmap <c-t> <action>(ActivateTerminalToolWindow)
nmap <leader>t <action>(Terminal.OpenInTerminal)
nmap <c-z> <action>(ToggleDistractionFreeMode)
nmap <leader>q <action>(CloseContent)
nmap <leader>qa <action>(CloseAllEditors)
nmap <leader>zc <action>(CollapseAllRegions)
nmap <leader>zo <action>(ExpandAllRegions)
nmap <leader>u <action>(FindUse)
nmap <c-p> <action>(JumpToLastWindow)
nmap <c-x> <action>(HideAllWindows)
nmap <leader>rt <action>(ContextRun)
nmap <leader>ra <action>(RunClass)
nmap <leader>rr <action>(Rerun)
nmap <leader>ft <action>(RerunFailedTests)
nmap <leader>rd <action>(ContextDebug)
nmap <leader>ff <action>(Vcs.UpdateProject)
nmap <leader>fo <action>(ReformatCode)
nmap <leader>fi <action>(ActivateProjectToolWindow)
nmap <leader>he <action>(ShowIntentionActions)
nmap <leader>aa <action>(GotoAction)
nmap <leader>ca <action>(ActivateCommitToolWindow)
nmap <leader>at <action>(VimFindActionIdAction)
nmap <leader>nm <action>(ExtractMethod)
vmap <leader>nm <action>(ExtractMethod)
nmap <leader>nv <action>(IntroduceVariable)
nmap <leader>nc <action>(IntroduceConstant)
nmap <leader>nf <action>(IntroduceField)
nmap <leader>np <action>(IntroduceParameter)

" todo group commands by keybind/action type
" todo add map open and reopen projects

map <leader>cn <action>(RenameElement)
map <leader>cp <action>(Move)
map <leader>si <action>(SelectIn)
map <leader>w <action>(EditorSelectWord)
map <leader>ac <action>(AnalyzeActionsPopup)

map <C-o> <action>(Back)
map <C-i> <action>(Forward)
map g; <Action>(JumpToLastChange)
map g, <Action>(JumpToNextChange)

noremap <Left>  <NOP>
noremap <Right> <NOP>
noremap <Up>    <NOP>
noremap <Down>  <NOP>
vnoremap <Left>  <NOP>
vnoremap <Right> <NOP>
vnoremap <Up>    <NOP>
vnoremap <Down>  <NOP>

" Dont forget to remap Up, Down, Left, Right in keymap settings
